//color scheme
//$primary-color: #cf0029;
$black-color: #151315;
$dark-color: #253145;
$dark-grey: #586667;
$color-1: #578489;
$color-2:#c0d2d7;
$color-3:#977173;
$color-4: #8c062b;
$color-5: #b0b2b1;
$color-6: #ebedec;
$color-7: #949495;
$color-8:#5d8c96;
$color-9: #c1d8de;
$color-10: #95242a;
$color-11: #5f0c16;
$some-gray-color: #01667f;

//fonts
$font-logo: 'Pacifico', cursive;
$font-main: 'Fira Sans Condensed', sans-serif;
$font-number: 'Ubuntu', sans-serif;