@import 'config';

.phones-list {
  list-style: none;
  padding:0;
  margin: 20px 0;
}

.phones-list__item {
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba($black-color, 0.5);
  margin-bottom: 10px;
}

.phones-list__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  text-decoration: none;
}

.phones-list__info {
  flex: 1 1 auto;
}

.phones-list__name {
  color: $black-color;
  font-family: $font-main;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 500;
}

.phones-list__phone {
  color: $black-color;
  font-family: $font-number;
  font-weight: 300;
  font-size: 15px;
}
