.page {
  max-width: 600px;
  margin: 0 auto;
}

.header {
  background: #8c062b;
  padding: 10px 0;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.logo__img {
  width: 50px;
  height: 50px;
  background: url(../images/british-call-box.svg) no-repeat 50% 50%;
  background-size: contain;
}

.logo__text {
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: #ffffff;
}

.phones-list {
  list-style: none;
  padding:0;
  margin: 20px 0;
}

.phones-list__item {
  padding: 10px 20px;
  /*border: 1px solid #949495;*/
  box-shadow: 0 2px 5px rgba(21,19,21,0.5);
  margin-bottom: 10px;
}
